:root {
    --primary: #f2f1d9;
    --secondary-1: #433d41;
    --secondary-2: #e25a36;
    --accent-1: #f7e2a1;
    --accent-2: #628478;
}

#main {
    background-color: var(--primary);
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: 0px;
}

#title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

#title, h2 {
    color: var(--secondary-2);
}

p {
    margin: 0px auto 10px auto;
}

p, ul {
    color: var(--secondary-1);
    font-size: 16px;
}

#img-div {
    background-color: var(--secondary-1);
    padding: 15px 30px;
}

figure {
    margin: 0px;
}

#image {
    display: block;
    height: auto;
    max-width: 100%;
    margin: auto;
}

#img-caption, a {
    color: var(--primary);
    font-size: 14px;
    margin-top: 10px;
}

h2 {
    font-size: 26px;
}

ul {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

li {
    margin: 15px;
}

section {
    margin-bottom: 40px;
}

h3, #tribute-link {
    color: var(--accent-2);
    font-size: 20px;
}

footer {
    color: var(--secondary-1)
}

.album-cards {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    margin: 0px 10px;
    
}

.card a {
    color: var(--accent-2);
    font-size: 14px;
    font-weight: 700;
}

.card-img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 400px;
}

@media (max-width: 700px) {
    #title {
        font-size: 30px;
    }
    h2 {
        font-size: 22px;
    }
    h3, #tribute-link {
        font-size: 16px;
    }
    p, ul {
        font-size: 14px;
    }
    #img-caption, a, .card a {
        font-size: 12px;
    }
}

