:root {
    --primary: #767E67;
    --secondary-1: #E6EBDC;
    --secondary-2: #331714;
    --accent-1: #9A3333;
    --accent-2: #E9F3AB;
}

body {
    margin: 0;
    background-color: var(--primary);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

header {
    background-color: var(--secondary-1);
}

#header-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    max-width: 650px;
}

#header-text {
    text-align: center;
}

#title {
    color: var(--accent-1);
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 0;
}

#description {
    color: var(--secondary-2);
}

img {
    display: block;
    max-width: 300px;
    width: 100%;
    height: auto;
    border: 1px solid var(--secondary-2);
    margin: 20px 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    margin: 0 auto 0 auto;
}

section {
    width: 100%;
}

h2 {
    text-align: center;
    color: var(--accent-2);
    font-weight: 400;
    font-size: 1.4rem;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
}

label {
    display: inline-block;
    flex-basis: 30%;
    text-align: right;
    color: var(--secondary-1);
}

input {
    display: inline-block;
    flex-basis: 50%;
    flex-shrink: 0;
    margin-left: 10px;
    height: 25px;
    background-color: var(--secondary-1);
    border: 0.5px solid var(--secondary-2);
}

#description, label, input {
    font-size: 0.95rem;
}

@media (max-width: 700px) {
    #header-card {
        flex-direction: column;
        max-width: 320px;
    }
    #title {
        padding-top: 10px;
        font-size: 1.5rem;
    }
    form {
        max-width: 320px;
    }
    h2 {
        font-size: 1.2rem;
    }
    #description, label, input {
        font-size: 0.8rem;
    }
    label {
        flex-basis: 40%;
    }
    input {
        flex-basis: 60%;
        height: 20px;
    }

    img {
        margin-top: 10px;
    }
}